<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-record-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">


            <div class="form-group col-md-4">
                <label for="room-number">Room#</label>
                <input type="number" class="form-control" name="room_number" id="room-number" value="<%= employee.employee_id %>" required >
            </div>

            <div class="form-group col-md-4">
                <label for="room-number">Room#</label>
                <input type="number" class="form-control" name="room_number" id="room-number" value="<%= record.room_number %>" required >
            </div>


        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="phone-num">Phone Number</label>
                <input type="tel" class="form-control" name="phone_num" id="phone-num" placeholder="+380123456789" value="<%= employee.phone_num %>" required>
            </div>
            <div class="form-group col-md-6">
                <label for="experience">Experience</label>
                <input type="number" class="form-control" name="experience" id="experience" placeholder="Experience" value="<%= employee.experience %>" required>
            </div>
            <div class="form-group col-md-6">
                <label for="salary">Salary</label>
                <input type="number" class="form-control" name="salary" id="salary" placeholder="Salary" value="<%= employee.salary %>" required>
            </div>
            
        </div>
        <button type="submit" class="btn btn-success float-right">Update Player</button>
    </form>
    </div>
</div>
</body>
</html>
