<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (services.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Price</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Time Amount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% services.forEach((service, index) => { %>
                        <tr>
                            <th scope="row"><%= service.service_id %></th>
                            <td><%= service.price %></td>
                            <td><%= service.service_name %></td>
                            <td><%= service.time_amount %></td>
                            <td>
                                <a href="/edit/<%= service.service_id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= service.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <p class="text-center">No services found. Go <a href="/add" >here</a> to add services.</p>
        <% } %>
    </div>
</div>
</body>
</html>
